@media screen and (max-width:960px)
{
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #profile,.section-container{
        display: block;
    }
    section,.section-container{
        height:fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .logos::before,.logos::after{
        display: none;
    }
    nav
    {
        position: fixed;
        top: 0;
        width: 90%;
        z-index: 1000;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 50px;
        background: transparent;
        backdrop-filter: blur(5px);
        border: 1px solid white;
        height: 10vh;
    }
    #profile{
        padding-top: 17vh;
    }
}

@media screen and (max-width:600px)
{
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    .logo{
        font-size: 1.5rem;
    }
    .logos::before,.logos::after{
        display: none;
    }
    .menu-links a{
        font-size: 1rem;
    }
}

@media screen and (max-width:1400px)
{
    #profile{
        height:83vh;
        margin-bottom: 2rem;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}