@media (min-width: 1200px) {
    .menu-links{
      display: none;
    }
    .skills-heading{
        padding-top: 5vh;
    }
    .project-grid{
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
}
@media screen and (max-width:1200px)
{
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #profile,.section-container{
        display: block;
    }
    section,.section-container{
        height:fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .logos::before,.logos::after{
        display: none;
    }
    .menu-links{
        top: 0;
        left:0;
        right:0;
        font-weight: 800;
        position: fixed;
        overflow: hidden;
        z-index: 1500;
        margin-top: 10vh;
        width: 100%;
        max-height: 0;
        background: transparent;
        backdrop-filter: blur(4px);
        border: 1px solid white;
        box-shadow: -10px 7px 10px rgba(0,0,0,0.1);
        transition: max-height .5s ease;
    }

    #hamburger-nav
    {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
        margin: 0;
        position: fixed;
        width: 100%;
        border-radius: 0; 
        z-index: 1500;
        background: transparent;
        backdrop-filter: blur(4px);
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        height: 10vh;

    }
    .logo{
        padding: 0;
    }
    #profile{
        padding-top: 16vh;
    }
    .project-grid{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:600px)
{
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    .logo{
        font-size: 1.5rem;
    }
    .logos::before,.logos::after{
        display: none;
    }
    .menu-links a{
        font-size: 1rem;
    }
    #about{
        padding-top: 5vh;
    }
    .AboutPara{
        font-size: 0.7rem;
        padding-left: 10px;
        padding-right: 10px;
        text-align:justify;
    }
    .title{
        font-size: 2rem;
    }
    .section_text_p2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1400px)
{
    #profile{
        height:83vh;
        margin-bottom: 2rem;
    }
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }

}
#about{
    animation: appear-projects linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.AboutPara{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes appear-projects{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes appear-projects-2{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

#projects{
    animation: appear-projects-2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.project-grid{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}








/*
@media only screen and (width: 390px){
    .menu-links{
        top: 12.5vh;
    }
  }
@media only screen and (width: 430px){
    .menu-links{
        top: 12.25vh;
    }
}
@media only screen and (width: 414px){
    .menu-links{
        top: 12.35vh;
    }
}
@media only screen and (width: 375px){
    .menu-links{
        top: 13.12vh;
    }
}
@media only screen and (width: 412px){
    .menu-links{
        top: 12.3vh;
    }
}*/
